._global-box {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  line-height: 1.3rem;
  box-shadow: 0px 0px 10px 0px #274684;
  font-weight: 300;
  background-color: #fff;
  width: 45%;
  height: 80px;
  color: #000;

  & > p {
    display: block;
  }

  &-item {
    font-size: 12px;

    & > span {
      color: #000;
      display: block;
    }
  }

}